.svg-icon path {
    transition: transform 0.3s ease; 
  }

.upvote_svg:hover .svg-icon {
    scale: 1.2;
  }

.upvote_svg:hover .svg-icon rect{
    fill: #E2F5EA; 
  }

  .upvote_svg:hover .svg-icon path{
    fill: #6FCF97;
    transform: translateY(-2px); 
  }